@theme {
    /* Backgrounds */
    --bg-hero-main: url("/images/hero/hero-background.jpg");

    /* Fonts */
    --font-poppins: "Poppins", sans-serif;
    --font-in-nunito: "Nunito", sans-serif;
    --font-in-inter: "Inter", sans-serif;

    /* Colors */
    --color-in-orange: #FFB531;
    --color-in-blue-dark: #0B1D26;
    --color-in-cyan: #00BEB4;
    --color-in-gray-dark: #203038;



}